* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.outer {

    border: 1px solid #717377;
    padding: 1.25rem;
    border-radius: 1rem;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);

}

input {
    width: 100%;
    padding: 1.5rem;
    color: white;
    border: none;
    margin: 0.6rem;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 2.5rem;
    text-align: right;
    cursor: pointer;
}

input::placeholder {
    color: white;
}

button {
    border: none;
    width: 5rem;
    height: 5rem;
    margin: 1.25rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.8rem;
    background: transparent;
    color: #ffffff;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);

}

.eql_btn {
    background-color: #fb7c14;
}

.operator {
    color: #fb7c14;
}

@media (max-width:600px) {
    body {
        width: 400px;
    }

    .outer {
        padding: 1rem;
        margin: 1.5rem;
    }

    button {
        width: 2.5rem;
        height: 2.5rem;
        margin: 1rem;
        font-size: 1.2rem;
    }

    input {
        width: 270px;
        padding: 1.2rem;
    }
}